In [ ]:
import numpy as np
import pandas as pd

import statsmodels.api as sm

colunas = ["idx",
           "clump_thickness",            
           "uniformity_cell_size",    
           "uniformity_cell_shape",   
           "marginal_adhesion",          
           "single_epithelial_cell_size",
           "bare_nuclei",                
           "bland_chromatin",            
           "normal_nucleoli",            
           "mitoses",                    
           "class"]
           
dados = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', header=None, names = colunas)

In [ ]:
dados.head()

,idx,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
# removendo as linhas com dados faltantes
dados = dados.replace({'?': np.nan})
dados = dados.dropna()

# separando os dados
X = dados.drop(['idx', 'class'], axis = 1)
y = np.array(dados['class'], dtype = 'str')

# tratando os dados
X = sm.add_constant(X['uniformity_cell_shape'])
y = np.array(y, dtype = 'int')
y[y == 2 ] = 0
y[y == 4 ] = 1

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
logit_model = sm.Logit(y, X)
result=logit_model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.195890
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  683
Model:                          Logit   Df Residuals:                      681
Method:                           MLE   Df Model:                            1
Date:                Thu, 21 Apr 2022   Pseudo R-squ.:                  0.6974
Time:                        02:12:57   Log-Likelihood:                -133.79
converged:                       True   LL-Null:                       -442.18
Covariance Type:            nonrobust   LLR p-value:                3.781e-136
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -5.1645      0.386    -13.363      0.000      -5.922      -4.407
uniformity_cell_shape     1.4727      0.120     12.223      0.000       1.237       1.709
=========================================================================================